<!-- Offcanvas body -->
<div class="offcanvas-body p-3 p-xl-0">
    <div class="bg-dark border rounded-3 p-3 w-100">
        <!-- Dashboard menu -->
        <div class="list-group list-group-dark list-group-borderless collapse-list">
            <a class="list-group-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                href="{% url 'dashboard:customer:home' %}"><i class="fas fa-th fa-fw me-2"></i>داشبورد</a>            
            <a class="list-group-item {% if request.resolver_match.url_name == 'profile-edit' %}active{% endif %}"
                href="{% url 'dashboard:customer:profile-edit' %}"><i class="far fa-edit fa-fw me-2"></i>ویرایش
                پروفایل</a>            
            <a class="list-group-item text-danger bg-danger-soft-hover" href=" {% url 'accounts:logout' %}"><i
                    class="fas fa-sign-out-alt fa-fw me-2"></i>خروج</a>

        </div>
    </div>
</div>