{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% load blog_tags %}




{% block extra_css_no_compress %}

{% endblock %}

{% block content %}
<div class="card border bg-transparent rounded-3">
    <!-- Card header START -->
    <div class="card-header bg-transparent border-bottom">
        <h4 class="fs-5 ff-vb"> تغییر رمز عبور کاربر - شناسه {{object.username}} - {{object.id}} </h4>
    </div>
    <div class="card-body">
        <!-- Step content START -->
        <div class="bs-stepper-content">
            <form action="{% url 'dashboard:admin:user-reset-password' pk=object.pk %}" method="post">
                {% csrf_token %}



                <!-- New password -->
                <div class="mb-3">
                    <label class="form-label"> رمز جدید</label>
                    {{form.new_password}}

                    <div class="rounded mt-1" id="psw-strength"></div>
                </div>
                <!-- Button -->
                <div class="d-flex justify-content-between mt-3">
                    <div>

                        <button type="submit" class="btn btn-primary mb-0">تغییر رمز</button>

                    </div>
                    <div>
                        <a href="{% url 'dashboard:admin:user-edit' pk=object.pk %}"
                            class="btn btn-secondary-soft mx-1 mb-0">بازگشت</a>
                    </div>
                </div>




            </form>
        </div>
    </div>
</div>

{% endblock content %}


{% block extra_js_no_compress %}

{% endblock %}