{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}


<section>
    <div class="container">

        <div class="justify-content-center">


            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-6">
                    <div class="auth-wrap p-4 p-md-5">


                        <div class="col-12 text-center py-3">
                            <h3>باز نشانی رمز عبور با موفقیت انجام شد</h3>

                        </div>
                        <div class="col-12 text-center py-3">
                            <a class="btn btn-primary-soft mx-2" href="{% url 'accounts:login' %}">بازگشت به ورود</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

{% endblock %}
{% block extra_css %}


{% endblock extra_css %}