{% load static %}


<section>
    <div class="container">

        <div class="justify-content-center">

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="auth-wrap p-4 p-md-5">


                        <div class="col-12 text-center mt-1 py-3">
                            <h3>ایمیلی حاوی لینک بازنشانی پسورد ارسال شد</h3>

                        </div>
                        <div class="col-12 text-center mt-1 py-3">
                            <a class="btn btn-primary-soft mx-2" href="{% url 'accounts:login' %}">بازگشت به ورود</a>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

